# Dont push builds for raspberry pi
firmware/raspberry-pi-zero-w/build/*.deb

# Local VS Code settings
.vscode

# Rust
firmware/raspberry-pi-zero-w/ms-01-azure-gateway/target
firmware/raspberry-pi-zero-w/ms-01-azure-gateway/Cargo.lock